<script type="text/template" id="show-person-hp-template">
	
	<a href="#" class="btn"><i class="icon-arrow-left"></i> Back to person list</a>
	<br/><br/>
	<div style="position:relative;text-align:center;">
		<h2>
			<%= person.get('firstname') + " " + person.get('lastname') %>
			<%= " (" + person.get('birthdate') + ")" %>
		</h2>
		<div class="show-gender-icon">
		<% if (person.get('sex') == 1) { %>
			<img src="img/male_icon.png"/>
		<% } else { %>
			<img src="img/female_icon.png"/>
		<% } %>
		</div>
	</div>

	<br/>
	
	<center>
		<a href="#/showPerson/<%= person.get('id') %>" id="menu-hp" class="show-person-menu-container active">
			<img src="img/stats.png" style="height:70px;"/>
			<h3 style="display: inline;">Stats</h3>
		</a>
		<a href="#/showPerson/<%= person.get('id') %>/food" id="menu-food" class="show-person-menu-container">
			<img src="img/food.png" style="height:70px;"/>
			<h3 style="display: inline;">Food</h3>
		</a>
		<a href="#/showPerson/<%= person.get('id') %>/goal" id="menu-goal" class="show-person-menu-container">
			<img src="img/target.png" style="height:70px;"/>
			<h3 style="display: inline;">Goal</h3>
		</a>
	</center>
	<br/><br/>


	<legend>Current Health Profile</legend>
	<div class="row-fluid" id="hpinformation">
		<div class="span5" style="position:relative">
			<p class="lead">
				<b>Blood Pressure</b>: 
				<%= "min " + healthProfile.minbloodpressure + " - " %> 
				<%= "max " + healthProfile.maxbloodpressure + " mmHg" %> 
				<img src="img/blood-pressure.png" style="height:35px;"/>
			</p>
			<p class="lead">
				<b>Heart Rate</b>: 
				<%= healthProfile.heartrate %> bpm
				<img src="img/heart_beat.png" style="height:25px;"/>
			</p>
			<p class="lead">
				<b>Target Heart Rate</b>: 
				<%= healthProfile.targetHearthRate %> bpm
				<img src="img/heart_beat.png" style="height:25px;"/>
			</p>

			<hr/>

			<p class="lead">
				<b>Calories Needed</b>: 
				<%= healthProfile.idealKcal %> kcal
				<img src="img/fire.png" style="height:30px;"/>
			</p>
			<p class="lead">
				<b>BMR</b>: 
				<%= healthProfile.bmr %> kcal
				<img src="img/fire.png" style="height:30px;"/>
			</p>

			<hr/>
			<p class="lead">
				<b>Ideal Weight</b>: 
				<%= healthProfile.idealWeight %> kg
			</p>
			<p class="lead">
				<b>Ideal Bmi</b>: 
				<%= healthProfile.idealBmi %> kg/m<sup>2</sup>
			</p>
		</div>
		
		<div class="span1"></div>
		
		<div class="span3" style="position:relative;">
			<img src="img/human.png" style="height:350px;"/>
			<p class="lead">
				<b>Weight</b>: 
			 	<%= healthProfile.weight.substring(0,5) + " kg" %>
			</p>
			<p class="lead human-height">
			 	<b>Height</b>: 
			 	<%= healthProfile.height.substring(0,5) + " m" %>
			</p>
		</div>

		<div class="span3" style="position:relative;">
			<div id="preview">
				<center>
					<div id="bmi-range" class="gauge-textfield">
						<%= healthProfile.bmiLabel %>
					</div>
					<canvas id="canvas-preview" ></canvas>
					<div class="gauge-textfield">Bmi </div>
					<div id="preview-textfield" class="gauge-textfield"></div>
				</center>
			</div>
		</div>
	</div>
	<br/>

	<br/>
	<legend>Health Profile History</legend>
	<a href="#/editPerson/<%= person.get('id') %>/editHealthProfile" 
			class="btn btn-success">
		<i class="icon-plus icon-white"></i> New Health Profile
	</a>
	<br/><br/>
	    
	<% if (healthProfileHistory.length > 0 || healthProfileHistory.id) { %> 

		<% if (healthProfileHistory.id) { %>
			<% list = [] %>
			<% list.push(healthProfileHistory) %>
			<% healthProfileHistory = list %>
		<% } %>
		<table class="table table-hover striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Weight (kg)</th>
					<th>Height (m)</th>
					<th>Heart Rate (bpm)</th>
					<th>Blood Pressure (mmHg)</th>
					<th>Date</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(healthProfileHistory, function(hp, index){ %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= hp.weight %></td>
					<td><%= hp.height %></td>
					<td><%= hp.heartrate %></td>
					<td>
						<%= "min " + hp.minbloodpressure + " - " %>
						<%= "max " + hp.maxbloodpressure %>
					</td>
					<td><%= hp.date.substring(0,10) %></td>
					<td>
						<a class="btn btn-primary" 
							href="#/editPerson/<%= person.get('id') %>/editHealthProfile/<%= hp.id %>" 
						>
							<i class="icon-edit icon-white"></i> Edit
						</a>
					</td>
					<td>
						<a class="btn btn-danger" onclick="return confirm('Are you sure?')"
							href="#/editPerson/<%= person.get('id') %>/deleteHealthProfile/<%= hp.id %>">
							<i class="icon-trash icon-white"></i> Delete
						</a>
					</td>
				</tr>
				<% }) %> 
			</tbody>
		</table>
	<% } %>

	<br/>

	<div class="form-actions">
		<a href="#/editPerson/<%= person.get('id') %>" class="btn btn-primary btn-large">
			<i class="icon-edit icon-white"></i> Edit Person
		</a>
		<a href="#/deletePerson/<%= person.get('id') %>" class="btn btn-danger btn-large"
			onclick="return confirm('Are you sure?')">
			<i class="icon-trash icon-white"></i> Delete Person
		</a>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
	    var opts = {
		    lines: 12, // The number of lines to draw
		    angle: 0.15, // The length of each line
		    lineWidth: 0.44, // The line thickness
		    pointer: {
		      length: 0.9, // The radius of the inner circle
		      strokeWidth: 0.035, // The rotation offset
		      color: '#000000' // Fill color
		    },
		    limitMax: 'true',   // If true, the pointer will not go past the end of the gauge
		    colorStart: '#A6C8FF',   // Colors
		    colorStop: '#cd1717',    // just experiment with them
		    strokeColor: '#E0E0E0',   // to see which ones work best for you
		    generateGradient: true
	    };
	    var target = document.getElementById('canvas-preview'); // your canvas element
	    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
	    gauge.setTextField(document.getElementById("preview-textfield"));
	    gauge.maxValue = 40.05; // set max gauge value
	    gauge.animationSpeed = 15; // set animation speed (32 is default value)
	    gauge.set(<%= healthProfile.bmi %>); // set actual value
	  });
	</script>

</script>