<script type="text/template" id="show-person-goal-template">
	<a href="#" class="btn"><i class="icon-arrow-left"></i> Back to person list</a>
	<br/><br/>
	<div style="position:relative;text-align:center;">
		<h2>
			<%= person.get('firstname') + " " + person.get('lastname') %>
			<%= " (" + person.get('birthdate') + ")" %>
		</h2>
		<div class="show-gender-icon">
		<% if (person.get('sex') == 1) { %>
			<img src="img/male_icon.png"/>
		<% } else { %>
			<img src="img/female_icon.png"/>
		<% } %>
		</div>
	</div>

	<br/>
	
	<center>
		<a href="#/showPerson/<%= person.get('id') %>" id="menu-hp" class="show-person-menu-container">
			<img src="img/stats.png" style="height:70px;"/>
			<h3 style="display: inline;">Stats</h3>
		</a>
		<a href="#/showPerson/<%= person.get('id') %>/food" id="menu-food" class="show-person-menu-container">
			<img src="img/food.png" style="height:70px;"/>
			<h3 style="display: inline;">Food</h3>
		</a>
		<a href="#/showPerson/<%= person.get('id') %>/goal" id="menu-goal" class="show-person-menu-container active">
			<img src="img/target.png" style="height:70px;"/>
			<h3 style="display: inline;">Goal</h3>
		</a>
	</center>
	<br/><br/>

	<hr/>

	<a href="#setGoalsModal" role="button" class="btn btn-primary btn-large" 
			data-toggle="modal">
			<i class="icon-tasks icon-white"></i> Set Goals
	</a>

	<div id="setGoalsModal" class="modal hide fade" tabindex="-1" role="dialog" 
				aria-labelledby="setGoalsModalLabel" aria-hidden="true">
		<form class="form-horizontal setGoalsForm" style="margin-bottom: 0px;">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="setGoalsModalLabel">Set Goals</h3>
	  </div>
	  <div class="modal-body">
	    <p>
	    	<div class="control-group">
          <div class="controls">
          	<label class="radio">
						  <input type="radio" name="goal" value="1"> Reach Your Ideal Weight
						</label>
						<label class="radio">
						  <input type="radio" name="goal" value="2"> Important Health Benefits
						</label>
						<label class="radio">
						  <input type="radio" name="goal" value="3"> Greater Health Benefits
						</label>
            <input type="hidden" name="person_id" value="<%= person.get('id') %>" />
          </div>
        </div>
	    </p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <button type="submit" class="btn btn-primary">
	    	<i class="icon-tasks icon-white"></i> Set Goals
	    </button>
	  </div>
	  </form>
	</div>

</script>